@use "./variables" as *;
@use "./mixins" as *;

@import url("https://fonts.google.com/specimen/Nunito");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #000;
  color: #fff;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
