.synopsis {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-left: 3px;
  align-items: center;
  width: 100%;

  &__buttons {
    display: flex;
    flex-direction: row;
    gap: 0;
  }

  &__button {
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__button-text {
    font-size: 11.5px;
    color: #626365;
    margin-top: 6px;
    text-align: center;
  }

  &__icon-circle {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #626365;
    color: #626365;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
  &__content {
    display: flex;
    align-items: start;
    flex-direction: column;
    height: 80px;
  }
  &__title {
    color: #626365;
    font-size: 14px;
    text-align: left;
  }
  &__text {
    color: #626365;
    font-size: 11.5px;
    text-align: left;
  }
}
